.navbar-wagon {
  background          : rgba(255, 255, 255, 0.5);
  &-logo {
    width             : 150px;
  }
  &-container {
    display           : flex;
    justify-content   : space-between;
    height            : 70px;
    align-items       : center;

  }
  &-item {
    flex              : 0 1 auto;
    padding           : 0 10px;
  }
  &-link {
    color             : #616668;
    font-size         : 14px;
    &:hover {
      color           : #da552f;
      text-decoration : none;
    }
  }
  &-button {
    padding           : 0 20px;
    border-radius     : 20em;
    line-height       : 40px;
    background-color  : #D23333;
    color             : white;
    font-size         : 14px;
    border            : 2px solid $brand-color;

    &:hover {
      color           : white;
      background      : $brand-color;
      border-color    : darken($brand-color, 10%);
    }
  }
}
