.welcome {
   margin-bottom: 150px
}
.about {
   background-color: $gray-lighter;
}
.skills {

}
.references {
   background-color: $gray-lighter;
}

.logo-skills {
   height: 100px;
}

.c-image {
   background: url('../images/c-logo-black.png') no-repeat center center;
   background-size: 280px;
   width: 280px;
   height: 280px;
   &:hover {
      background: url('../images/c-logo-blue.png') no-repeat center center;
      background-size: 280px;
      width: 280px;
      height: 280px;
   }
}

.t-image {
   background: url('../images/t-logo-black.png') no-repeat center center;
   background-size: 280px;
   width: 280px;
   height: 280px;
   &:hover {
      background: url('../images/t-logo-blue.png') no-repeat center center;
      background-size: 280px;
      width: 280px;
      height: 280px;
   }
}

.l-image {
   background: url('../images/l-logo-black.png') no-repeat center center;
   background-size: 280px;
   width: 280px;
   height: 280px;
   &:hover {
      background: url('../images/l-logo-blue.png') no-repeat center center;
      background-size: 280px;
      width: 280px;
      height: 280px;
   }
}

.y-image {
   background: url('../images/y-logo-black.png') no-repeat center center;
   background-size: 280px;
   width: 280px;
   height: 280px;
   &:hover {
      background: url('../images/y-logo-blue.png') no-repeat center center;
      background-size: 280px;
      width: 280px;
      height: 280px;
   }
}
